# Ignore everything by default for the package
**

# Include only what ships to the Marketplace
!dist/**
!public/icon.png
!package.json
!README.md
!CHANGELOG.md
!LICENSE

# Re-exclude things that slipped past dist/**
dist/**/*.map
dist/**/*.ts
